.dashboard {
  color: black;
  border-bottom: 1px solid #ccc; }
  .dashboard ul {
    margin: 0;
    padding: 0; }
    .dashboard ul li {
      list-style: none; }
  .dashboard .dashboard-add-btn {
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
    outline: none;
    background-color: none;
    margin: 20px 0;
    padding: 20px 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .dashboard .dashboard-add-btn:hover {
    font-weight: bolder; }
