.app {
  text-align: center; }
  .app .app-header {
    display: flex;
    height: 36px;
    margin: 0;
    padding: 16px 23px;
    align-self: flex-start flex-start flex-end; }
    .app .app-header li {
      display: flex-end;
      list-style: none;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      line-height: 38px; }
